
<div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6 mb-4">
  <div class="-ml-4 -mt-4 flex justify-between items-center flex-wrap sm:flex-no-wrap">
    <h1 class="small-title">
        COVID-19 Science Engine (Prototype)
    </h1>
    <div class="ml-4 mt-4 flex-shrink-0">
      <span class="inline-flex">
        <%= link_to "/submit" do %>
          <button type="button" class="relative inline-flex items-center">
            Submit another paper
          </button>
        <% end %>
      </span>
    </div>
  </div>
</div>

<% if @papers.present? %>
  <div class="overflow-hidden">
    <ul>
      <% @papers.each do |paper| %>
        <%= render partial: 'paper', locals: { paper: paper,  } %>
      <% end %>
    </ul>
  </div>
<% end %>
